In [1]:
a = 93

In [2]:
print(a)

93

In [3]:
a = 83

In [4]:
print(a)

83

In [5]:
a  = 'vanya'

In [6]:
print(a)

vanya

In [7]:
a = 83

In [8]:
print(a)
print(type(a))

83
<class 'int'>

In [9]:
a  = 'vanya'
print(a)
print(type(a))

vanya
<class 'str'>

In [10]:
a  =3
a = a + 3*a
a = 'converted to string'

print(a)
type(a)

converted to string

str

In [13]:
a = 'Hello i am a string with single quotes'
b = " Hello i am string with double quotes"

print(a)
print(b)
type(a)
print(type(b))

Hello i am a string with single quotes
 Hello i am string with double quotes
<class 'str'>

In [26]:
# escape sequence when we use backslash
a = 'vanya\'s laptop'
# it is called as combination of quotes
b = " vanya's laptop's"
print(b)

 vanya's laptop's

In [30]:
# indexing
a = 'vanya'
# v - 0 a-1 n-2 y-3 a-4
print(a[3])

y

In [31]:
# SLICING

In [37]:
b = 'california'
#when the number is before colon it is included in the output
print(b[3: ])
#when the number is after the colon it is *not* included in the output
print(b[:3])

ifornia
cal

In [38]:
c = 'paddy'
a = c[:3]
print(c)
print(a)

paddy
pad

In [42]:
#negative indexing and slicing works in neagtive indexing too
n = 'school'
print(n[-1])
print(n[-3])
print(n[:-1])

l
o
schoo

In [57]:
# double colon indexing
d = 'washington'
print(d[::4])

wio

In [48]:
# strings are immutable it means that i can't be changes
d  = 'vanya'
d[3] = 'n'
print(d[3])

TypeError: 'str' object does not support item assignment

In [54]:
# concatenation of strings
a = 'monkey'
b = 'banana'
c = a+' '+b
print(c)

monkey banana

In [58]:
# Reversing a string
a = 'lemon'
print(a[::-1])

nomel

In [60]:
# built in methods
a = 'i have an Iphone'

In [61]:
# upper() means uppercase
print(a.upper())

I HAVE AN IPHONE

In [62]:
#lower() means lower case
print(a.lower())

i have an iphone

In [63]:
# split() it splits the string by the space

print(a.split())

['i', 'have', 'an', 'iphone']

In [65]:
# split('x') where x is in the string
print(a.split('p'))

['i have an i', 'hone']

In [66]:
# print formatting

a = ' hello my name is {}'

print(a.format('vanya'))

 hello my name is